*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav, footer {
  background-color: #a6a6a6;
}

nav {
  padding: 10px;
  text-align: end;
}

header img {
  margin: 10px;
}

main {
  width: 70%;
  margin: 5px auto 35px auto;
}

footer {
  padding: 3px;
  text-align: center;
}

#logohtml {
  margin-left: 40px;
}

section img {
  margin: 1px 0 15px 0;
}
section {
  margin-bottom: 10px;
}